body{
    background-image: url("nebula.jpg");
    background-color: lightgray;
    font-family: "Raleway";
    color:  #26a69a;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.title{
    color:#337ab7;
}
.subHeader{
    color:#7f7f7f;
}
.first {
    text-align: center;
}

.page-header{
    margin: 5px;
    border-bottom: 1px solid lightgray;
}

.margin{
    margin:10px 0px 0px 0px;
}
.gotContainer {
        width: 600px;
        
        font-size: 16px;
    }

.thisContainer {
        width: 500px;
        clear: both;
        font-size: 16px;
    }
 .thisContainer input {

        width: 100%;
        clear: left;
    }
.aContainer {
    width: 500px;
    clear: both;
    font-size: 16px;
}

.aContainer input {
    width: 100%;
    clear: left;
}

 .center{
    text-align: center;
 }

 .navbar-brand {
    font-size: 14px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 14px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
